@font-face {
    font-family: 'Silvera';
    src: url('SilveraRegular.woff2') format('woff2'),
        url('SilveraRegular.woff') format('woff'),
        url('SilveraRegular.ttf') format('truetype'),
        url('SilveraRegular.svg#SilveraRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

