@font-face {
    font-family: 'Stoned Youth';
    src: url('StonedYouthRegular.woff2') format('woff2'),
        url('StonedYouthRegular.woff') format('woff'),
        url('StonedYouthRegular.ttf') format('truetype'),
        url('StonedYouthRegular.svg#StonedYouthRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

